<nav style="background: 0 #4676ab; box-shadow: 7.5px 15.0px 15.0px hsl(0deg 0% 0% / 0.27);" class="navbar navbar-expand-lg gr" aria-label="Thirteenth navbar example" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" routerLink="/"><img src="https://img.icons8.com/doodle/48/gameloop.png">&nbsp;<small class="text-white">Game Stock</small></a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/album">Games</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " href="#">Games</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet />
